@CHARSET "UTF-8";

body {
	background: #f5e5c1 url(../../img/bg.jpg) 50% top scroll no-repeat;
	background-attachment:fixed;
}

.body-footer {
	padding-bottom: 50px;
	padding-top: 20px;
	text-align: center;
	color: #999;
}

.logo-div {
	height: 150px;
	font-family: '黑体';
	font-size: 100px;
	color: #000;
}

.logo-div h1 {
	display: inline-block;
	text-align: left;
}

.logo-div h1 .subText {
	width: 100%;
	color: #FFF;
	font-size: 20px;
	text-align: right;
}

.logo-div h1 .subText a {
	color: #FFF;
}

.logo-div h1 .subText a:hover {
	text-decoration: none;
	color: #999;
}

.my-panel-body {
	padding: 0px;
	margin: 0px;
}

.breadcrumb-default {
	padding-bottom: 10px;
}

.dropdown-menu-left-logo {
	padding-right: 10px;
}

.loading-logo {
	color: #000 !important;
	-webkit-animation: rotating 1s infinite linear;
}

.panel-menu-button {
	display: inline-block;
	border: 0px;
	background-color: #337ab7;
	padding: 0px 5px;
}

.panel-title {
	display: inline-block !important;
	padding-right: 10px;
	border-right: 2px solid #fff;
}

#indexMenu i {
	margin-right: 5px;
}

@-webkit-keyframes rotating {
	0%{
		-webkit-transform: rotate(0deg);
	}
	50%{
		-webkit-transform:rotate(180deg);
	}
	100%{
		-webkit-transform:rotate(360deg);
	}
}

@media screen and (max-width: 767px) {
	.logo-div {
		height: 100px;
	}
}

@media screen and (min-width: 768px) {
	#goTop {
		position: fixed;
		display: none;
		bottom: 100px;
		right: 80px;
		width:50px;
		height:50px;
		background:#fff;
		border:1px solid #999;
		font-size: 30px;
		color: #999;
		padding-top: 7px;
	}
	#goTop:hover{
		background:#E5E5E5;
	}
}