@charset "utf-8";

iframe{
	border:0px;
	width:100%;
	min-height:500px;
}

.logo-div{
	max-width:100%;
	font-family:'华文琥珀';
	font-size:100px;
	color:#000;
}
.logo-div h1{
	display:inline-block;
	width:80%;
	text-align:left;
	padding-left:70px;
}
.logo-div h1 a{
	color:#FFF;
	font-size:20px;
	text-align:right;
}
.logo-div h1 a:hover{
	text-decoration:none;
	color:#999;	
}
