@CHARSET "UTF-8";

.lnLeft {
	float: left;
	width: 20%;
	margin: 0px 0px 10px 1%;
}

.lnUserInfo {
	width: 100%;
	height: 200px;
	background: #F0F0F0;
}

.lnContext {
	width: 77%;
	min-height: 500px;
	margin: 10px 1% 10px 22%;
	background: #F0F0F0;
}

.lnList {
	margin-top: 10px;
	background: #F0F0F0;
	height: 200px;
	background: #F0F0F0;
}

.userHead {
	text-align: center;
	width: 100%;
	padding-top: 20px;
}

.userHead img {
	width: 80px;
	height: 80px;
	display: block;
	border-radius: 50%;
	border: 2px solid #fff;
	display: inline-block;
}

.userInfo {
	width: 100%;
	height: 80px;
	padding-top: 20px;
}

.userInfo i {
	margin: 0px 5px;
}

.userInfo .one {
	height: 30px;
	padding: 0px;
	text-align: center;
	font-weight: bold;
}

.userInfo .two {
	height: 30px;
	text-align: center;
	padding: 10px 0px;
}

.lnList .title {
	padding: 6px 10px;
	width: 100%;
	border-bottom: 2px solid #fff;
	font-size: 12px;
}

.lnList .title .more {
	float: right;
	width: 50px;
	text-align: right;
}

.lnList .list {
	width: 100%;
}

.lnList .list ul {
	list-style-type: none;
	line-height: 20px;
	padding: 0px;
}

.lnList .list  li {
	padding: 5px 10px;
	border-bottom: 1px solid #fff;
}