@charset "utf-8";
/* CSS Document */
.lnBody {
	padding: 0px 20px 20px 20px;
}

.table i {
	padding: 0px 5px;
	color: #999;
}

.i-red {
	color: red !important;
}

.i-yellow {
	color:#F90 !important;
}

.i-blue {
	color: blue !important;
}
.i-pink {
	color: #FF6EB4 !important;
}

.textAlign {
	text-align: center;
}

.a-i{
	text-decoration: none;
}

.table-load{
	font-size: 30px;
	font-weight: bold;
	line-height: 100px;
	color:#000 !important;
}

.table-load-logo{
	color:#000 !important;
	-webkit-animation:rotating 1s infinite linear ;
}

@-webkit-keyframes rotating {
    0%{
       -webkit-transform: rotate(0deg);
    }
    50%{
       -webkit-transform: rotate(180deg);
    }
    100%{
       -webkit-transform: rotate(360deg);
    }

}